@import url(../lib/normalize/normalize.css);
#template1 {
  /*    @include prefixValue(display, box);*/
  /* Flex needs to be last, so that we use the new flex-box when it's available */
  /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  /*    @include prefixProperty(box-orient, horizontal);*/
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row; }
  #template1 .region {
    -webkit-flow-from: article;
    -moz-flow-from: article;
    -ms-flow-from: article;
    -o-flow-from: article;
    flow-from: article; }
