@mixin prefixProperty($property, $value){
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}

@mixin prefixValue($property, $value){
    #{$property}: -webkit-#{$value};
    #{$property}: -moz-#{$value};
    #{$property}: -ms-#{$value};
    #{$property}: -o-#{$value};
    #{$property}: #{$value};
}

@mixin flexbox{
/*    @include prefixValue(display, box);*/
    /* Flex needs to be last, so that we use the new flex-box when it's available */
    /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */
     @include prefixValue(display, flex); 
}

@mixin flex($value: 1){
    @include prefixProperty(flex, $value);
/*    @include prefixProperty(box-flex, $value);*/
}

@mixin hbox{
    @include flexbox;
/*    @include prefixProperty(box-orient, horizontal);*/
    @include prefixProperty(flex-direction, row);
}

@mixin vbox{
    @include flexbox;
/*    @include prefixProperty(box-orient, vertical);*/
    @include prefixProperty(flex-direction, column);
}

@mixin user-select($value: auto){
	-webkit-touch-callout: $value;
	-webkit-user-select: $value;
	-khtml-user-select: $value;
	-moz-user-select: $value;
	-ms-user-select: $value;
	user-select: $value;
}

@mixin list-reset{
    margin: 0;
    padding: 0;
    list-style: none;

    & > li{
        margin: 0;
        padding: 0;
    }
}

@mixin box-shadow{
    box-shadow: 0 3px 15px 3px rgba(0,0,0,.4);
}
