@import "_utils.scss";
        
$size-xs: 320px;
$size-s: 480px;
$size-m: 768px;
$size-l: 1024px;
$size-xl: 1280px;

$colsize-xs: 100%;
$colsize-s: 100%;
$colsize-m: 48%;
$colsize-l: 36.5%;
$colsize-xl: 25%;

html, body{
    height: 100%;
}

.magazine,
.page{
    height: 100%;
    width: 100%;
    position: relative;
}

.wrapper{
    padding: 30px;
}

aside{
    -webkit-region-break-after: always;
    text-align: center;
}


@media (min-width: $size-m){
    .wrapper{
        padding: 50px;
    }
    
    .magazine{
        overflow: hidden;
    }
    
    .page{
        width: 100%;
        height: 700px;
    }
}

.template1{
    
    .region:nth-child(1),
    .region:nth-child(2),
    .region:nth-child(3),
    .region:nth-child(4){
        height: 100%;
        box-sizing: border-box;
    }
    
    .region:nth-child(1),
    .region:nth-child(3),
    .region:nth-child(4){
        @include prefix-property('flow-from', article);
        float: left;
        
        @media (min-width: $size-s){
            width: $colsize-m;
        }
        
        @media (min-width: $size-l) {
            width: $colsize-l;
        }
        
        @media (min-width: $size-xl){
            width: $colsize-xl;
        }
    }
    
    .region:nth-child(1){
        @media (max-width: $size-s){
            width: $colsize-s; 
            height: auto;
            -webkit-region-oveflow: auto;
        }
    }
    
    .region:nth-child(2){
        @include prefix-property('flow-from', aside);
        
        @media (min-width: $size-xs) and (max-width: $size-m){
            display: none;
        }
        
        @media (min-width: $size-m) {
            width: $colsize-m;
            float: right;
            height: 140px;
            margin-bottom: 30px;
            padding: 2%;
            border: 1px solid gray;
            
            border-left: none;
            border-right: none;
        }
        
        @media (min-width: $size-l){ 
            width: 22%; 
            height: 100%;
            
            float: left;
            padding: 20% 2% 0;
            margin: 0 2%; 
            background: none;
            
            border: 1px solid gray;
            border-top: none;
            border-bottom: none;
        }
        
        @media (min-width: $size-xl){
            width: 17%;
        }
    }
    
    .region:nth-child(3){
        
        @media (max-width: $size-s){
            display: none;
        }
        
        @media (max-width: $size-l){
            float: right
        }
        
        @media (min-width: $size-m) and (max-width: $size-l){
            height: 520px;
        }
    }
    
    .region:nth-child(4){
        display: none;
        
        @media (min-width: $size-xl){
            display: block;
            margin-left: 2%;
        }
    }
}